<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raly.medicos.app"
    android:versionCode="11"
    android:versionName="0.1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Raly_medicos"
        android:debuggable="false"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".Pacientes"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.Login"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/actividad_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.Promocion"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/actividad_promocion"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.PROMOCION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.InfoGral"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/actividad_info"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.Resultados"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/actividad_resultados"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.REESULTADOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.Configuracion"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/menu_configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.CONFIGURACION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="raly.medicos.app.MisResultadosGuardados"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/menu_resultados"
            android:theme="@style/Theme.Raly_medicos" >
            <intent-filter>
                <action android:name="raly.apps.medicos.FILES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-perm></uses-perm>

</manifest>